<div
  style='display:flex; justify-content:center; flex-wrap:wrap; position:sticky; top:0; left:0; width:100%; height:100%; z-index:105; background-color:gray'
>

  <div
    style='display:flex; justify-content:center; width:80vh; padding:20px; position:fixed; border:1px solid black; padding:20px; border-radius:5px;  box-shadow: 2px 2px 50px 11px rgba(34, 60, 80, 0.2); background-color:white; z-index: 100; margin-top:190px'
  >
    <form
      id='changeUserPasswordForm'
      method='post'
      action='/profile/lc/change/password/{{user_id}}'
      style='width:100vh'
    >
      <div class='mb-3'>
        <input
          type='password'
          class='form-control'
          id='exampleInputEmail1'
          aria-describedby='emailHelp'
          name='user_old_password'
          placeholder='Старый пароль'
          autocomplete='off'
        />
      </div>
      <div class='mb-3'>
        <input
          type='password'
          class='form-control'
          id='exampleInputEmail1'
          aria-describedby='emailHelp'
          name='user_password'
          placeholder='Новый пароль'
          autocomplete='off'
        />
      </div>
      <div class='mb-3'>
        <input
          type='password'
          class='form-control'
          id='exampleInputEmail1'
          aria-describedby='emailHelp'
          name='user_password_repeat'
          placeholder='Повторите новый пароль'
          autocomplete='off'
        />
      </div>
      <br />
      <div style='display:flex; justify-content:space-between'>
        <button type='submit' class='btn btn-outline-dark'>Изменить пароль</button>
        <a id='cancelButton2' class='btn btn-outline-dark'>Отменить</a>
      </div>
    </form>
  </div>
</div>
