<br />
<div style='display:flex; justify-content:center'>
  <div
    class='alert alert-danger d-flex align-items-center'
    role='alert'
    style="width:90wh'"
  >
    <div>
      {{error}}, попробуйте снова!
    </div>
  </div>
</div>

<p style="visibility:hidden">
  error
</p>
