<br />
<div style='display:flex; justify-content:center'>
  <div
    class='alert alert-success d-flex align-items-center'
    role='alert'
    style='width:90wh'
  >
    <div>
      Приветствую,
      {{user_name}}!
    </div>
  </div>
</div>
